{% extends 'base.html.twig' %}

{% block title %}CategoriaButaca{% endblock %}

{% block body %}
    <h1>CategoriaButaca</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoria_butaca.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ categoria_butaca.codigo }}</td>
            </tr>
            <tr>
                <th>PrecioUnitario</th>
                <td>{{ categoria_butaca.precioUnitario }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categoria_butaca.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categoria_butaca_index') }}">back to list</a>

    <a href="{{ path('app_categoria_butaca_edit', {'id': categoria_butaca.id}) }}">edit</a>

    {{ include('categoria_butaca/_delete_form.html.twig') }}
{% endblock %}
